{# ============================================================================= 
    📁 error500.html.twig ▶ [ERROR 500] - work only in prod mode

    - 
    💻 BREGLER Thomas © 2024 
=================================================================================== #}

{% extends 'base.html.twig' %}

{% block title %}ERROR 500{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h1>ERROR 500</h1>
                </div>
            </div>
        </div>
    </section>                            
{% endblock %}